*{margin: 0}

html{
    background: url("images/img (1).jpg");
    background-position-y: -300px;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif
}

    header{
    height: 100px;
    background-color: rgba(0, 0, 0);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center
}

.top{
    display:flex;
    justify-content: space-around;
    align-items: baseline
}

.suff{
    margin: 0px 10px;
    color: yellow;
    padding: 5px;
    text-decoration: none
}


#spacing{
    /* background:url(slide/menswear.jpeg);
    opacity: 0.5; */
    display:flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.289);
    padding-bottom: auto;
    height: 1339px;
}

#register-panel{
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 500px;
    margin: auto;
    border-radius: 40px;
    
}

#register-content{
    margin: 40px;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    height: 500px;
}

#first,#last,#userRgd,#email,#passwordRgd{
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom:2px solid yellow;
    width: 418px;
    color:yellow
}

.flow,span{
    display: flex;
    align-items: center;
    justify-content: left
}

#yellow-link{
    background-color: yellow;
    padding: 5px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin: 0px 10px
}

#yell{
    margin: 0px 10px;
    color: yellow;
    padding: 5px;
    text-decoration: none
}

label{
    font-size: 20px;
    padding:0px 10px 0px 10px
}

a{font-size: 20px}
h1{color: yellow}












footer {
    
    padding-top: 100px;
    background: black;
    color: whitesmoke;
    height: 250px;
}


#foot {
    display: flex;
    justify-content: space-around;
}

.social {
    width: 40px;
    
}

.footLink{
    text-decoration: none;
    text-decoration-style: none;
    color: whitesmoke;
    font-size: 12px

}

#bash {
    display: grid;
    margin-bottom: 5px;
}

#pany {
    display: grid;
    margin-bottom: 5px;
}

#sup {
    display: grid;
    margin-bottom: 5px;
}

#conet {
    display: grid;
    justify-content: space-around;
}

#fomat {
    display: flex;
    justify-content: space-around;
    padding:  0px -20px;
}

#follow {
    display: grid;  
    text-decoration: none;
    text-decoration-style: none;
    color: whitesmoke;
    padding-right: 10px; 
}

.form {
    background: rgb(158, 37, 104), 0.2;
    color: whitesmoke;
    width: 35%;
    height: 150px;
    justify-content: center;
    padding: 20px;
    margin-top: 2em;
    
}

button {
    height: 3em;
    width: 10em;
    background: rgb(226, 151, 12);
    color: white;
    border-radius: 8px;
    font-weight: bolder;

}

.all {
   text-align: center;
   font-size: 12px;
   padding-top: 2em;
}