*{margin: 0}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(191, 191, 191)
}


    header{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 50px 0px
}

.top{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    width: 300px
}

.suff{
    margin: 0px 10px;
    color: yellow;
    padding: 5px;
    text-decoration: none
}


#batch{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 300px;
    margin-bottom: 50px
}

#stock{
    display: flex;
    justify-content: space-between
}

#pro{
    border-radius: 10px
}
a{font-size: 20px}

.links{
    background-color: black;
    color: rgb(191, 191, 191);
    padding: 10px 10px;
    border-radius: 10px;
}










footer {
    margin-top: 100px;
    padding-top: 50px;
    background: black;
    color: whitesmoke;
    height: 250px;
}


#foot {
    display: flex;
    justify-content: space-around;
}

.social {
    width: 40px;
    
}

.footLink{
    text-decoration: none;
    text-decoration-style: none;
    color: whitesmoke;
    font-size: 12px

}

#bash {
    display: grid;
    margin-bottom: 5px;
}

#pany {
    display: grid;
    margin-bottom: 5px;
}

#sup {
    display: grid;
    margin-bottom: 5px;
}

#conet {
    display: grid;
    justify-content: space-around;
}

#fomat {
    display: flex;
    justify-content: space-around;
    padding:  0px -20px;
}

#follow {
    display: grid;  
    text-decoration: none;
    text-decoration-style: none;
    color: whitesmoke;
    padding-right: 10px; 
}

.form {
    background: rgb(158, 37, 104), 0.2;
    color: whitesmoke;
    width: 35%;
    height: 150px;
    justify-content: center;
    padding: 20px;
    margin-top: 2em;
    
}

input {
    width: 30em;
    height: 3em;
}

button {
    height: 3em;
    width: 10em;
    background: rgb(226, 151, 12);
    color: white;
    border-radius: 8px;
    font-weight: bolder;

}

.all {
   text-align: center;
   font-size: 12px;
   padding-top: 2em;
}